<footer style="
  width:100%;
  background:#8B4651;
  border-top:1px solid #000000;
  color:white;
  padding:23px 0 8px 0;
  font-family: 'Georgia', serif;
  font-size:1rem;">
  <div style="margin-left:1.7vw;margin-bottom:5px;">
    <b>TaVue</b><br/>
    Lunettes raffinées, fabriquées en France avec passion et savoir-faire.<br/>
  </div>
  <div style="margin-left:1.7vw;margin-top:78px;font-size:0.95em;color:#9a9a9a;">
    © 2025 TaVue. Tous droits réservés.
  </div>
</footer>